# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Output files
output/
*.xlsx
*.csv
*.gif
*.png
output/runs/
*.xlsx
*.csv
*.gif
*.png

# OS files
.DS_Store
Thumbs.db

# If you ever want to keep the folder but not its contents:
# output/*
# !output/.gitkeep


# Uploaded images (user input)
input/uploads/


# Others
ProjectRules.txt